@model B3.Models.ConfigModel
<!-- Modal -->
@Html.AntiForgeryToken()
<div class="modal fade" id="modalStatus" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thay đổi trạng thái</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn green" id="btnSave">Save</button>
            </div>
        </div>

    </div>
</div>
